@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');


* {
    box-sizing: border-box;
}

body{
    
    background-image: url(https://images.unsplash.com/photo-1487383298905-ee8a6b373ff9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8c25vd3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center center; 
    display: flex;
    align-items: center;
    flex-direction: column;

}

h1{
    font-size: 4rem;
    margin-top: 5rem;
    font-weight: normal;
}

.count-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-test{
    font-size: 6rem;
    font-weight: normal;
    line-height: 1;
    margin: 1rem 2rem;
}

.count-el {
    text-align: center;
}

.count-el span {
    font-size: 1rem;
}
